{% extends "base.html" %}
{% block content %}
    <section class="books-section">

        <div class="books-grid">
            {% for knjiga in knjige %}
                <a class="book-link" href="{{ url_for('show_book', book_id=knjiga.id) }}">
                    <article class="book-card">
                        <img
                          src="{{ url_for('static', filename='images/books/'+knjiga.naslovna_slika_path) }}"
                          alt="Naslovnica knjige {{ knjiga.naslov }}"
                        >

                        <h2>{{ knjiga.naslov }}</h2>
                        <p>{{ knjiga.autor }}</p>
                        <p>{{ knjiga.zanr }}</p>

                    </article>
                </a>
            {% endfor %}
        </div>


    </section>

{% endblock %}